* {
    font-family: 'Roboto Serif', serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    height: 80vh; 
    padding: 1rem; 
    box-sizing: border-box;
}

body {
    display: grid; 
    grid-template-areas: 
        "header"
        "main"
        "responses"
        "footer"; 
    grid-template-rows: auto 1fr auto; 
    background-image: linear-gradient(#e2a18a, #ead9b1, #7a9a5c);
    background-attachment: fixed;
}

main {
    display: grid;
    grid-template-areas:
        "map portfolio"; 
    grid-template-columns: 1fr 0.6fr;
    padding: 1rem;
}

header { 
    grid-area: header;
    padding: 1rem;
}

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; 
}

.headers img {
    width: 150px; 
    height: auto;
}

main { 
    grid-area: main;
}

.portfolio {
    grid-area: portfolio;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map { 
    position: relative;
    grid-area: map;
    height: 60vh;
}

#footer {
    grid-area: footer;
    padding: 5px; 
    background-color: #7a9a5c;
    color: #333;
    text-align: center;
}

/* buttons */

.buttons {
    text-align: center;
    padding: 20px;
}

.buttons h2 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.buttons button {
    color: #c37a60;
    border: 4px outset #fff;
    background-color: #e1e8da;
    padding: 6px;
    font-size: 13px;
}

.buttons button:hover {
    background-color: #99b87c;
    color: #fff;
}

#encampmentbuttons, #protestbuttons, #significantbuttons {
    border: 2px dashed #333;
    padding: 5px;
    margin: 15px 0;
}

/* legend */

#legend {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 200px;
    font-family: 'Roboto Serif', sans-serif;
    z-index: 1;
}

.legend-item {
    display: inline-flex;
    align-items: center;
}

.legend-item img {
    margin-right: 10px;
}

/* filters */

.filters {
    text-align: center;
    padding: 20px;
}

.filters label {
    display: block;
    margin: 10px 0;
}

/* responses */

#responses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.response-card {
    background-color: #f1e1bb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    
    box-sizing: border-box;
}

/* navigation */

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    background-color: #7a9a5c;
    color: #fff;
}

.nav a:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

/* typography */

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 3px #fff;
    color: #333;
}

h2 {
    font-size: 1rem;
    font-weight: medium;
}

h3 {
    font-size: 0.8rem;
    font-weight: normal;
}

p {
    font-size: 1rem;
    font-weight: light;
}

li {
    display: inline-block;
    margin-right: 20px;
}
